
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Đăng nhập SSO</title>
</head>
<body>
    <div> 
        <input type="text" placeholder="Tên đăng nhập" />
        <input type="password" placeholder="Mật khẩu"/>
    </div>
</body>
</html>
